<% layout("layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="col-8 offset-3">
        <h2><%= listing.title %></h2>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text"><i>Owner By: <%= listing.owner?.username || 'Unknown' %></i></p>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
            <p class="card-text"><%= listing.location %></p>
            <p class="card-text"><%= listing.country %></p>
        </div>
    </div>

    <% if (currUser && listing.owner && listing.owner._id.equals(currUser._id)) { %>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a><br>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    <% } %>

    <div class="col-8 offset-3 mb-3">
        <% if (currUser) { %>
        <hr />
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="POST" class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked />
                    <% for(let i=1;i<=5;i++){ %>
                        <input type="radio" id="rate-<%= i %>" name="review[rating]" value="<%= i %>" />
                        <label for="rate-<%= i %>"><%= i %> star<%= i > 1 ? 's' : '' %></label>
                    <% } %>
                </fieldset>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <% } %>

        <% if(listing.reviews.length > 0){ %>
            <hr/>
        <div class="row">
            <p>All Reviews</p>
            <% for (let review of listing.reviews) { %>
                <div class="card col-5 mb-3 ms-3 col-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            @<%= review.author?.username || 'Unknown User' %>
                        </h5>
                        <p class="starability-result" data-rating="<%= review.rating %>">
                            Rated: <%= review.rating %> star<%= review.rating > 1 ? 's' : '' %>
                        </p>
                        <p class="card-text"><%= review.comment %></p>
                        <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                            <button class="btn btn-dark">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
        <% } %>
    </div>

    <div class="col-6 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
</div>
<!-- Mapbox CSS -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />

<!-- Mapbox JS -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

<script>
  const mapToken = "<%= MAP_TOKEN %>";
  mapboxgl.accessToken = mapToken;
  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
       
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v12',
    center: coordinates,
    zoom:9
  });

  const marker = new mapboxgl.Marker({ color: "red" })
    .setLngLat(coordinates)
    .addTo(map);
</script>
